<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Reset password</h1>

            <div class="alert alert-danger" ng-show="keyMissing">
                <strong>La clé pour la réinitialisation du mot de passe est manquante.</strong>
            </div>

            <div class="alert alert-warning" ng-hide="success || keyMissing">
                <p>Choisissez un nouveau mot de passe</p>
            </div>

            <div class="alert alert-danger" ng-show="error">
                <p>Votre mot de passe n'a pas pu être modifié. La demande de modification de mot de passe n'est valable que 24 heures.</p>
            </div>

            <div class="alert alert-success" ng-show="success">
                <p><strong>Votre mot de passe a été réinitialisé.</strong> Vous pouvez maintenant vous
                    <a class="alert-link" href="#/login">connecter</a>.</p>
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch">
                Le mot de passe et la confirmation ne correspondent pas !
            </div>

            <div ng-hide="keyMissing">
                <form ng-show="!success" name="form" role="form" novalidate ng-submit="finishReset()" show-validation>
                    <div class="form-group">
                        <label class="control-label" for="password">New password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="New password"
                               ng-model="resetAccount.password" ng-minlength=5 ng-maxlength=50 required>
                        <div ng-show="form.password.$dirty && form.password.$invalid">
                            <p class="help-block"
                               ng-show="form.password.$error.required">
                                Votre mot de passe est obligatoire.
                            </p>
                            <p class="help-block"
                               ng-show="form.password.$error.minlength">
                                Votre mot de passe doit faire plus de 5 caractères.
                            </p>
                            <p class="help-block"
                               ng-show="form.password.$error.maxlength">
                                Votre mot de passe doit faire moins de 50 caractères.
                            </p>
                        </div>
                        <password-strength-bar password-to-check="resetAccount.password"></password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="confirmPassword">Confirmation du nouveau mot de passe</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                               placeholder="Confirmation du nouveau mot de passe"
                               ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                        <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.required">
                                Votre confirmation de mot de passe est obligatoire.
                            </p>
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.minlength">
                                Votre mot de passe doit faire au moins 5 caractères.
                            </p>
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength">
                                Votre mot de passe doit faire moins de 50 caractères.
                            </p>
                        </div>
                    </div>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Réinitialiser</button>
                </form>
            </div>

        </div>
    </div>
</div>
