<form name="editForm" role="form" class="form-horizontal" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTimeslotLabel">Create or edit a Timeslot</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="field_teamName">Nom d'équipe</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="teamName" id="field_teamName"
                       ng-model="timeslot.teamName"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="field_swimmer1">Nageur 1</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="swimmer1" id="field_swimmer1"
                       ng-model="timeslot.swimmer1"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="field_swimmer2">Nageur 2</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="swimmer2" id="field_swimmer2"
                       ng-model="timeslot.swimmer2"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="field_swimmer3">Nageur 3</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="swimmer3" id="field_swimmer3"
                       ng-model="timeslot.swimmer3"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="field_swimmer4">Nageur 4</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="swimmer4" id="field_swimmer4"
                       ng-model="timeslot.swimmer4"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" for="field_user">user</label>
            <div class="col-sm-8">
                <select class="form-control" id="field_user" name="user" ng-model="timeslot.user"
                        ng-options="user as user.login for user in users track by user.id">
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Sauvegarder</span>
        </button>
    </div>
</form>
