<div>
    <div class="row">
        <div class="col-md-10">
            <h3 style="margin-top:2px;">Réservation de créneaux pour la journée Défi "Je marche ou je cours" du 27 mai 2018</h3>
        </div>
        <div class="col-md-2" ng-if="vm.connected">
            <span class="badge badge-reserved" data-tooltip="Créneaux réservés">{{vm.user.nbReserved}}</span>
            <span class="badge badge-payed" data-tooltip="Créneaux payés">{{vm.user.nbPayed}}</span>
            <button type="button" class="btn btn-info" ui-sref="print" ng-disabled="!vm.user.nbReserved"
                    data-tooltip="Impression de votre coupon réservation">
                Imprimer&nbsp;<span class="glyphicon glyphicon-print"></span>
            </button>
        </div>
    </div>
    <p>Ci-dessous se trouve le planning du défi "Je marche ou je cours" pour le
        <a href="http://www.defi-anthony.org/" target="_blank">Défi Anthony</a>.
    </p>

    <div class="bs-callout bs-callout-success">
        <div>
            <span class="main-rule">1- Réservez un créneau pour votre équipe</span> : cliquez sur un créneau disponible
            pour créer une nouvelle réservation (bleu).
        </div>
        <div>
            <span class="main-rule">2- Validez votre inscription</span> : imprimez votre coupon puis
            envoyez-le à l’adresse indiquée accompagné de votre règlement, dans un délai de 8 jours.
        </div>
        <div>
            <span class="main-rule">3- Pour plus de détails</span> : cliquez dans le premier encadré ci-dessous.
        </div>
        <div>
            <span class="main-rule">4- Pour le règlement complet</span> : cliquez dans le deuxième encadré ci-dessous.
        </div>
    </div>

    <p>
        Nous vous remercions pour votre participation et vous attendons nombreux le 27 mai pour une très belle journée !
    </p>

    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Pour plus de renseignement, cliquez ici</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">

                    <p>Le Défi Anthony (antenne de Chauffailles) organise un défi "Je marche ou je cours"
                        le <b>27 mai 2018</b> à partir de <b>8h</b> au plan d'eau de Belmont-de-la-Loire.</p>

                    <p>100% de l’argent collecté lors de cette journée sera reversé à l’association
                        <a href="http://www.defi-anthony.org/" target="_blank">Défi Anthony</a> qui collecte des fonds
                        pour la lutte contre la leucémie.</p>

                    <div class="bs-callout bs-callout-info">
                        Notre défi "Je marche ou je cours" consistera à additionner tous les kilomètres qui seront parcourus lors de la
                        journée du 27 mai 2018 afin d’obtenir la plus grande distance possible : 500, 700, 1000, ... 2000km ???
                        <br>
                        Ainsi, toutes les 15 minutes, des marcheurs/coureurs, seuls ou en équipe (maximum 5 personnes) prendront le
                        départ pour parcourir 2km.
                    </div>

                    <p>Toute personne qui le souhaite peut participer afin qu’un maximum de
                        kilomètres soient parcourus ce soir-là. Peu importe la vitesse, l’essentiel étant de
                        participer afin d’apporter une aide précieuse à la recherche contre la leucémie.</p>

                    <p>Mais, si vous ne voulez participer directement à cette marche/course, vous pouvez vous aussi <b>contribuer à la réussite</b>
                        de ce défi en constituant une équipe qui partipera pour vous ; vous serez alors le <b>parrain</b> de cette
                        équipe et vous paierez l’inscription à sa place.</p>

                    Pour participer, il suffit donc :
                    <ul>
                        <li>de courir/marcher 15 minutes seul</li>
                        <li>de courir/marcher en équipe (5 coureurs/marcheurs max) pendant 15 minutes en désignant un capitaine.</li>
                        <li>de parrainer une équipe (de 1 à 5 coureurs/marcheurs) et de payer l’inscription à sa place.</li>
                    </ul>

                    <p>L’inscription, pour un créneau de 15 minutes, coûte 10 €, entièrement reversés à la <b>recherche contre la
                        leucémie</b> par l’intermédiaire de l’Association <i>Défi Anthony</i>.</p>

                    <div class="bs-callout bs-callout-success">
                        Pour une bonne organisation, nous vous demandons si possible, de vous inscrire ou d’inscrire une
                        équipe à l’avance ce qui vous permettra de choisir le créneau-horaire.
                        <br>Vous pouvez le faire directement sur ce site en <b>réservant un créneau</b>. Les créneaux disponibles
                        sont colorés bleu. Il est possible de réserver un créneau en cliquant dessus (après création
                        d'un compte).
                    </div>

                    <p>L’inscription ne sera définitive que lorsque le parrain ou le capitaine de l’équipe aura fait
                        parvenir le règlement correspondant à l’inscription soit au salon Evolu’tifs, soit chez madame
                        Anne Luccioni. Règlement uniquement par chèque à l’ordre de l’Association <i>Défi Anthony</i>.</p>

                    <div class="bs-callout bs-callout-info">
                        Vous avez aussi la possibilité de réserver des plateaux-repas qui seront servis le
                        <b>27 mai</b> à partir de 11h constitués d’une entrée (macédoine de légumes), d’une tranche de rôti avec
                        des chips, d’une portion de fromage et d’une part de tarte aux pommes (possibilité de remplacer
                        la tranche de rôti par un morceau de poulet).
                    </div>
                    <p>
                        La réservation finale de ces créneaux ne sera effective qu'après réception du règlement.
                        Pour cela, vous pouvez imprimer votre bulletin d'inscription en cliquant sur le bouton
                        en haut à droite
                        <button class="btn btn-xs btn-info">
                            Imprimer&nbsp;<span class="glyphicon glyphicon-print"></span>
                        </button>. Les organisateurs de cette journée annuleront cette réservation
                        si aucun règlement n'est reçu sous 8 jours.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2">Pour consulter le règlement complet, cliquez ici</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <h4><strong>ARTICLE 1 – LE DEFI</strong></h4>
                    <p>
                        Le défi est un événement sportif, non compétitif (pas de chronomètre, pas de classement de temps).
                    </p>
                    <p>
                        Tous ensemble, additionnons nos distances pour aller le plus loin possible (1000, 2000 ….3500 km)
                    </p>

                    <h4><strong>ARTICLE 2 – ORGANISATEUR</strong></h4>
                    <p>
                        LE DEFI est organisé par : DEFI ANTHONY – Mont Talon – 71800 ST SYMPHORIEN DES BOIS
                    </p>

                    <h4><strong>ARTICLE 3 – PARCOURS</strong></h4>
                    <p>
                        L’événement se réalise en marchant ou en courant sur 10km en individuel ou en équipe. Le parcours est un circuit de 2km sur le site du Plan d’eau de Belmont de la Loire (42670). Il est à faire 5 fois.
                    </p>

                    <h4><strong>ARTICLE 4 – CONDITIONS DE PARTICIPATION</strong></h4>
                    <p>
                        Le parcours de 10km est ouvert à tous les participants sans limite d’âge. Il est de la responsabilité de chaque participant de s’inscrire sur une distance qui correspond à ses capacités.
                    </p>
                    <p>
                        Il est expressément indiqué que les personnes inscrites participent à l’événement sous leur propre et exclusive responsabilité. Les participants déclarent avoir les conditions physiques et médicales suffisantes et appropriées pour marcher ou courir à l’allure de leur choix sur la distance choisie, non chronométrée. Il en est de la responsabilité du capitaine ou parrain de s’en assurer pour l’engagement de son équipe.
                    </p>

                    <h4><strong>ARTICLE 5 - JOUR DE L’ÉVÈNEMENT</strong></h4>
                    <p>
                        Les participants sont tenus de respecter le site pendant et après l’évènement.
                    </p>

                    <h4><strong>ARTICLE 6 – ASSURANCES</strong></h4>
                    <p>
                        L’organisateur est couvert par la police d’assurance. Il incombe aux participants de s’assurer personnellement.
                    </p>

                    <h4><strong>ARTICLE 7 – DOMMAGE MATÉRIEL</strong></h4>
                    <p>
                        L’organisateur décline toute responsabilité en cas de dommages (vol, bris, perte…) subis par les biens personnels des participants, ce même s’il en a la garde. Les participants ne pourront donc se retourner contre l’organisateur pour tout dommage causé à leur équipement. La souscription d’une assurance garantissant ces risques est du ressort de chacun.
                    </p>

                    <h4><strong>ARTICLE 8 – ANNULATION</strong></h4>
                    <p>
                        En cas de conditions météorologiques trop défavorables (importantes quantités de pluie, fort risque orageux…,) le départ peut être reporté de 2 heures au maximum ; au-delà, l’événement est annulée.
                    </p>
                    <p>
                        En cas de force majeure (en particulier en cas de mauvaises conditions météorologiques et pour des raisons de sécurité), l’organisation se réserve le droit d’arrêter l’évènement en cours.
                    </p>
                    <p>
                        En cas d’annulation ou en cas d’interruption de la course, pour quelque raison que ce soit, aucun remboursement d’inscription ne sera effectué.
                    </p>
                    <p>
                        En cas de mauvais temps, les repas seront servis à l’intérieur du boulodrome.
                    </p>

                    <h4><strong>ARTICLE 9 - ACCEPTATION DU RÈGLEMENT</strong></h4>

                    La participation à l’évènement implique l’acceptation, sans dérogation, par chaque concurrent de ce présent règlement.
                </div>
            </div>
        </div>
    </div>

    <div ng-if="vm.currentTimeslot" class="well challenge-well well-sm row">

        <div ng-if="vm.currentTimeslot.reserved">

            <form class="form-horizontal form-challenge form-challenge-static" ng-if="vm.currentTimeslot.reserved">
                <h4>Créneau {{vm.currentTimeslot.payed ? "payé" : "réservé"}}
                    <span has-authority="ROLE_ADMIN" ng-if="!vm.currentTimeslot.payed"> le
                        {{vm.currentTimeslot.reservedDate | date:"dd/MM/yyyy"}}
                    </span>
                    par {{vm.currentTimeslot.user.displayName}}
                    <button type="button" ng-click="vm.eraseTimeslot()" has-authority="ROLE_ADMIN"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        Supprimer
                    </button>
                </h4>
                <div class="row">
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Départ</label>
                            <div class="col-xs-9"><p class="form-control-static">{{vm.currentTimeslot.startTime}}</p></div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">N°</label>
                            <div class="col-xs-9"><p class="form-control-static">{{vm.currentTimeslot.line}}</p></div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Nom d'équipe</label>
                            <div class="col-xs-9"><p class="form-control-static">{{vm.currentTimeslot.teamName}}</p></div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Capitaine</label>
                            <div class="col-xs-9"><p class="form-control-static">{{vm.currentTimeslot.user.displayName}}</p></div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Participant 1</label>
                            <div class="col-xs-9"><p class="form-control-static">{{vm.currentTimeslot.swimmer1}}</p></div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Participant 2</label>
                            <div class="col-xs-9"><p class="form-control-static">{{vm.currentTimeslot.swimmer2}}</p></div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Participant 3</label>
                            <div class="col-xs-9"><p class="form-control-static">{{vm.currentTimeslot.swimmer3}}</p></div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Participant 4</label>
                            <div class="col-xs-9"><p class="form-control-static">{{vm.currentTimeslot.swimmer4}}</p></div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Participant 5</label>
                            <div class="col-xs-9"><p class="form-control-static">{{vm.currentTimeslot.swimmer5}}</p></div>
                        </div>
                    </div>
                </div>

            </form>

        </div>

        <div ng-if="!vm.currentTimeslot.reserved">
            <form name="editForm" role="form" class="form-horizontal form-challenge" novalidate show-validation>
                <h4>Réservation de ce créneau :</h4>
                <div ng-if="!vm.connected">
                    <form class="form-horizontal form-challenge form-challenge-static">
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Départ</label>
                            <div class="col-xs-9"><p class="form-control-static">{{vm.currentTimeslot.startTime}}</p></div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">N°</label>
                            <div class="col-xs-9"><p class="form-control-static">{{vm.currentTimeslot.line}}</p></div>
                        </div>
                    </form>
                    <h2>
                        ⚠ Pour continuer la réservation de ce créneau, merci de bien vouloir vous
                        <a class="hand" ng-click="vm.goToLogin()">connecter</a>. ⚠
                    </h2>
                </div>
                <div ng-if="vm.connected">
                    <jh-alert-error></jh-alert-error>
                    <div class="form-group" ng-if="vm.isAuthenticated()">
                        <div class="row">
                            <div class="col-sm-7">
                                <form class="form-horizontal form-challenge form-challenge-static">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">Départ</label>
                                        <div class="col-xs-9"><p class="form-control-static">{{vm.currentTimeslot.startTime}}</p></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">N°</label>
                                        <div class="col-xs-9"><p class="form-control-static">{{vm.currentTimeslot.line}}</p></div>
                                    </div>
                                    <div class="form-group" has-authority="ROLE_ADMIN">
                                        <label class="col-xs-3 control-label">Capitaine</label>
                                        <div class="col-sm-4">
                                            <select class="form-control" ng-model="vm.userCreationType"
                                                    ng-options="userType as userType.label for userType in vm.userCreationTypes">
                                            </select>
                                        </div>
                                        <div class="col-sm-5">
                                            <p class="form-control-static" ng-if="vm.userCreationType === vm.userCreationTypes.CURRENT">
                                                {{vm.user.displayName}}
                                            </p>
                                            <div ng-if="vm.userCreationType === vm.userCreationTypes.NEW">
                                                <input type="text" class="form-control input-sm" placeholder="Nom de famille"
                                                       ng-model="vm.currentTimeslot.user.lastName"/>
                                                <input type="text" class="form-control input-sm" placeholder="Prénom"
                                                       ng-model="vm.currentTimeslot.user.firstName"/>
                                                <input type="text" class="form-control input-sm" placeholder="E-mail"
                                                       ng-model="vm.currentTimeslot.user.email"/>
                                            </div>
                                            <select class="form-control" ng-model="vm.currentTimeslot.user"
                                                    ng-options="user as user.displayName for user in vm.users"
                                                    ng-if="vm.userCreationType === vm.userCreationTypes.EXISTING">
                                            </select>
                                        </div>
                                    </div>
                                </form>

                                <div class="text-center" style="margin-top:20px">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.currentTimeslot = undefined">
                                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Annuler</span>
                                    </button>
                                    <button type="button" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary" ng-click="vm.saveTimeslot()">
                                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Sauvegarder</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <form class="form-horizontal form-challenge">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label" for="field_teamName">Nom d'équipe</label>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control input-sm" name="teamName" id="field_teamName"
                                                   ng-model="vm.currentTimeslot.teamName"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label" for="field_swimmer1">Participant 1</label>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control input-sm" name="swimmer1" id="field_swimmer1"
                                                   ng-model="vm.currentTimeslot.swimmer1"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label" for="field_swimmer2">Participant 2</label>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control input-sm" name="swimmer2" id="field_swimmer2"
                                                   ng-model="vm.currentTimeslot.swimmer2"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label" for="field_swimmer3">Participant 3</label>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control input-sm" name="swimmer3" id="field_swimmer3"
                                                   ng-model="vm.currentTimeslot.swimmer3"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label" for="field_swimmer4">Participant 4</label>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control input-sm" name="swimmer4" id="field_swimmer4"
                                                   ng-model="vm.currentTimeslot.swimmer4"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label" for="field_swimmer5">Participant 5</label>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control input-sm" name="swimmer5" id="field_swimmer5"
                                                   ng-model="vm.currentTimeslot.swimmer5"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </form>
        </div>

    </div>
    <jh-alert></jh-alert>
    <div ng-repeat="(running, tbt) in vm.timeslotsByRunning">
        <h3 class="text-center">
            <div ng-if="running === 'true'">COUREURS : départs de 08h00 à 09h15</div>
            <div ng-if="running === 'false'">MARCHEURS : départs de 09h30 à 12h00</div>
        </h3>
        <table class="jh-table table challenge-table">
            <thead>
            <tr>
                <th></th>
                <th class="text-center" ng-repeat="(time, timeslots) in tbt.byTime">
                    {{time}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(line, timeslots) in tbt.byLine">
                <td style="width:70px">{{line}}</td>
                <td ng-repeat="timeslot in timeslots" class="text-right challenge-td {{vm.getClass(timeslot)}}"
                    data-tooltip="{{vm.getTooltip(timeslot)}}" data-tooltip-placement="top"
                    tooltip-append-to-body="true" ng-click="vm.clickOnTimeslot(timeslot)">
                    <span class="pull-left" style="font-size:large;" ng-if="!timeslot.running">🚶</span>
                    <span class="pull-left" style="font-size:large;" ng-if="timeslot.running">🏃</span>
                    <span class="glyphicon glyphicon-user" ng-if="vm.user && timeslot.user.id===vm.user.id"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
